<div class="card">

	<div class="card-body">
		<h4 class="card-title"><%- name %></h4>
		<h6 class="card-subtitle mb-2 text-muted"><%- typeName %></h6>
		<dl>
			<dt>Region</dt>
			<dd><%- region %></dd>
			<dt>Location</dt>
			<dd><%- location %></dd>
			<dt>Rooms</dt>
			<dd><%- totalRooms %> (<%- unassignedRooms %> unallocated)</dd>
		</dl>
	</div>

	<div class="card-footer text-center">
		<a href="#/Hotel/<%- id %>/View" class="btn">Details</a>
		<a href="#/Hotel/<%- id %>/Rooms" class="btn">Rooms</a>
		<a href="#/Hotel/<%- id %>/Facilities" class="btn">Facilities</a>
		<a href="#/Hotel/<%- id %>/Staff" class="btn">Staff</a>
	</div>
</div>
