<div class="card">
	<div class="card-header">
		<h2><%- name %> <small><%- typeName %></small></h2>
	</div>

	<div class="card-body">
		<dl>
			<dt>Region</dt>
			<dd><%- region %></dd>
			<dt>Location</dt>
			<dd><%- location %></dd>
			<dt>Rooms</dt>
			<dd><%- totalRooms %> (<%- unassignedRooms %> unallocated)</dd>
		</dl>
	</div>

	<div class="card-footer text-center">
		<ul class="nav navigation-bar">
			<li><a href="#/Hotel/<%- id %>/View">Details</a></li>
			<li><a href="#/Hotel/<%- id %>/Rooms">Rooms</a></li>
			<li><a href="#/Hotel/<%- id %>/Facilities">Facilities</a></li>
			<li><a href="#/Hotel/<%- id %>/Staff">Staff</a></li>
		</ul>
	</div>
</div>
