body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navigation-bar.nav>li {
	display: inline-block;
}

div#standardrooms {
	margin-bottom: 1em;
}

.card {
	border: 1px solid gray;
}

.allocated > .btn-group.btn-group-sm {
	float: right;
}

.facilities .form-group > label {
	xwidth: 200px;
}
.facilities .form-group > .btn-group.btn-group-sm {
	float: right;
}
